################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/DevJoy.Domain.Kernel/.vs/DevJoy.Domain.Kernel
/src/DevJoy.Domain.Kernel/DevJoy.Domain.Kernel/obj
/src/DevJoy.Domain.Kernel/.vs/ProjectEvaluation
/src/DevJoy.Domain.Kernel/bin/Debug/net8.0
/src/DevJoy.Domain.Kernel/obj
/src/DevJoy.Domain.Kernel/bin/Release
/src/DevJoy.Domain.Kernel/bin/Debug
/src/DevJoy.Kernel/bin
/src/DevJoy.Kernel/obj
/test/DevJoy.Jernet.Test/obj/Debug/net8.0
/test/DevJoy.Kernel.Test/bin/Release/net8.0
/test/DevJoy.Kernel.Test/obj
